<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
  </appSettings>
  <system.diagnostics>
    <sources>
      <source name="Microsoft.WindowsAzure.Storage" switchValue="Off">
        <listeners>
          <clear />
          <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>